.racer_table td {
  background-color: yellow;
  height: 20px;
  width: 20px;
}

.racer_table td.active {
  background-color: black;
}

.racer_table td.p_name {
  background-color: white;
}

.results {
    display: none;
}