<div class="container">
  <h2> Welcome to JS Racer! </h2>
  <p> Type the player names to begin a game </p>
  <form action="/game" method="get">
    <input type="text" name="p1" placeholder="Player 1">
    <input type="text" name="p2" placeholder="Player 2">
    <input type="submit" value="Play!">
  </form>
</div>
